body {font-family: Arial;
margin: 0%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #0099cc;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border-radius: 20px;
  border-color: green;
  outline-color: green;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #00cccc;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #0099cc;
}

/* Style the tab content */
.tabcontent {
    color: white;
background-color: #00cccc;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.p {
  white-space: pre;
  
}